main {
  text-align: center;
}

h1 {
  margin-bottom: 3%;
}

.bottombutton {
  background-color: #ffa2a5;
  font-size: 12pt;
  border-color: #f6757a;
  margin: 2%;
  padding: 7px;
  border-radius: 5px;
  color: white;
  width: 15vw;
}

.deletebutton {
  background-color: crimson;
  font-size: 12pt;
  border-color: red;
  padding: 7px;
  border-radius: 5px;
  color: white;
  width: 15vw;
}

@media (max-width: 642px) {
  hr {
    width: 85%;
  }
}

@media (min-width: 642px) {
  hr {
    width: 20%;
  }
}

hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

mat-hint {
  color: gray;
  font-size: 10.5pt;
}
