main {
  text-align: center;
}

h1 {
  margin-bottom: 3%;
}

.bottombutton {
  background-color: #ffa2a5;
  font-size: 12pt;
  border-color: #f6757a;
  margin: 2%;
  padding: 7px;
  border-radius: 5px;
  color: white;
  width: 80px;
}
