<main>
  <div>
    <mat-card>
      <mat-card-title><img src="../assets/images/signup.png" width="400px"></mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onRegister()">
          <p>
            <mat-form-field hintLabel="Max. 15 characters">
              <mat-label>Enter your username</mat-label>
              <input matInput [(ngModel)]="username" name="username" maxlength="15" placeholder="Username">
              <mat-hint align="end">{{username.length}}/15</mat-hint>
            </mat-form-field>
          </p>

          <p class="withouthint">
            <mat-form-field>
              <mat-label>Enter your e-mail</mat-label>
              <input matInput [(ngModel)]="email" name="email" placeholder="kitty@cat.com" [formControl]="uiEmail" required>
              @if (uiEmail.invalid) {
              <mat-error>{{getErrorMessage()}}</mat-error>
              }
            </mat-form-field>
          </p>

          <p class="withouthint">
            <mat-form-field [color]="colorControl.value!">
              <mat-label>Enter your password</mat-label>
              <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field hintLabel="Max. 15 characters">
              <mat-label>Name your new friend</mat-label>
              <input matInput [(ngModel)]="name" name="name" maxlength="15" placeholder="Kitty">
              <mat-hint align="end">{{name.length}}/15</mat-hint>
            </mat-form-field>
          </p>

          <input id="signup" type="submit" value="Start now" class="submitButton">

        </form>
      </mat-card-content>
    </mat-card>

    <p>
      Already have an account?
      <button class="bottombutton" id="register" type="button" routerLink="/login" routerLinkActive="active">Log in</button><br>
    </p>
    <button class="bottombutton" routerLink="/landing-page" routerLinkActive="active">Back</button>

  </div>

</main>

<router-outlet></router-outlet>
