<nav>
  <div class="dropdown-menu">
     <button mat-mini-fab color="primary" aria-label="Menu Button" class="menu-button"> <mat-icon>menu</mat-icon> </button>
    <div class="dropdown-content">
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
      <a routerLink="/landing-page" routerLinkActive="active">Logout</a>
    </div>
  </div>
</nav>

<main class="main">

  <img src="../assets/images/underlay.png"  class="underlay-img"/>  <!-- [style.width.px]="fixedImageWidth" -->

  <!-- Image container, for background and for foreground swappable images -->
  <div class="image-container">
    <img #fixedimage src="../assets/images/background.jpg" alt="background" class="fixed-image"/>
    <img *ngFor="let overlayImage of overlayImages" [src]="overlayImage.src" [alt]="overlayImage.alt" class="overlay-image"/>
  </div>

</main>
<router-outlet></router-outlet>
