
main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

h1 {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  text-align: center;
}

nav {
  text-align: right;
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
  z-index: 2;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  padding-right: 6px;
  padding-top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0; /* Ausrichtung am rechten Rand des Containers */
  z-index: 3;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-menu:hover .dropdown-content {display: block;}


@media (min-width: 642px) {
  .menu-button {
    background-color: #e89295;
  }

  .dropdown-menu:hover .menu-button {background-color: #f6757a;}

  .overlay-image {
    top: 43.55%;
  }

  .progressbarholder-row {
    margin-top: 20px;
  }
}

@media (max-width: 642px) {
  .menu-button {
    background-color: blanchedalmond;
  }

  .dropdown-menu:hover .menu-button {background-color: blanchedalmond;}

  /* IMAGES */
  .image-container {
    width: 100%;
    height: 100%;
  }

  .underlay-img {
    max-width: 100%;
    object-fit: cover;
    top: 0;
  }

  .overlay-image {
    top: 28%;
  }

  .progressbarholder-row {
    margin-top: 5px;
  }

}

/* IMAGES */
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 1; /* To make sure Background is beneath overlay images */
}

.overlay-image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 2; /* To make sure overlay images are above background */
}

.underlay-img {
  position: absolute;
  min-height: 100vh;
  z-index: -1;
  box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.5), -10px 0 15px -5px rgba(0, 0, 0, 0.5);
}

.progressbarholder-row {
  display: flex;
  justify-content: space-between;
  scale: 90%;
}

.progressbarholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.progressbar-label {
  color: blanchedalmond;
  font-weight: bold;
  font-size: 11pt;
  position: absolute;
  top: 42%;
}

.progressbar-icon {
  color: blanchedalmond;
  position: absolute;
  top: 25%;
}

.wasserstand {
  margin-right: 3.6vw;
  margin-left: 3.6vw;
}

.message {
  position: fixed;
  top: 0.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #DCF8C6;
  color: black;
  text-align: center;
  padding: 15px 20px;
  border-radius: 17px;
  box-shadow: 0 2.5px 5px rgba(0,0,0,0.3);
  z-index: 4; // Ensure it's above other content
}

.feed, .water, .pet {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: white;
  background-color: #92E8E5;
  border-color: #68DFDB;
  margin-left: 1.6vw;
  margin-right: 1.6vw;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
