
<main>
  <div>
    <h1>Welcome, PurrPal!</h1>
    <!-- Routing explanation: https://angular.io/guide/router -->
    <button routerLink="/catagotchi" routerLinkActive="active">Gato</button><br>
    <button routerLink="/login" routerLinkActive="active"><img src="../assets/images/Login.png" width="400px"></button><br>
    <button routerLink="/register" routerLinkActive="active"><img src="../assets/images/signup.png" width="400px"></button>
  </div>

  <div class="image-container">
    <img src="../assets/images/underlay_lila.png" class="underlay-img"/>
  </div>
</main>

<router-outlet></router-outlet>
